/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.input {
  width: 272px;
    height: 40px;
    gap: 8px;
    opacity: 0px;
}

.button {
width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.timer {
  display: flex;
  justify-content: start;
  }

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.value {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  
}

fieldset {
width: 360px;
  height: 78px;
 
  }


.label {
display: flex;
flex-wrap: wrap;
 width: 360px;
 height: 72px;
 top: 36px;
 left: 156px;
 gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #2E2F42;
}
.btn {
  background-color: #4E75FF;;
  width: 360px;
  height: 40px;
  gap: 10px;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}